<h1>Edit car</h1>

<form id="edit-car" name="car">
  <div class="field">
    <label for="make"> make:</label>
    <input type="text" name="make" id="make" value=<%= make %> >
  </div>

  <div class="field">
    <label for="model"> model:</label>
    <input type="text" name="model" id="model" value=<%= model %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Car" />
  </div>

</form>

<a href="#/index">Back</a>